//modal maximizar gif
.modal-activado {
    position: fixed;
    padding: 0 20px;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-color: $blanco-modal;

    .modal-btn-close{
        background-color: unset;
        border: 0;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 50px;
        right: 20px;
    }

    .modal-gif{
        width: 100%;
        margin-top: 124px;
    }

    .modal-bar{
        display: flex;
        justify-content: space-between;
        margin: 17px 0;
        

        .modal-textos{
            max-width: 65%;

            .modal-user{
                text-align: left;
                font-size: 15px;
                line-height: 18px;
                font-weight: 300;
                margin: 0;
                color: $negro;
                font-family: $roboto;
            }

            .modal-titulo{
                text-align: left;
                font-size: 16px;
                line-height: 19px;
                font-weight: 500;
                margin-top: 6px;
                color: $negro;
                font-family: $montse;
            }
        }

        .modal-btn{
            background-color: unset;
            border: 0;
            width: 36px;
            height: 36px;
        }
    }
}

@media screen and (min-width:1024px) {
    .modal-activado {
        padding: unset;
        text-align: center;
    }

    .modal-btn-close{
        top: 50px;
        right: 100px !important;
        cursor: pointer;
    }

    .modal-gif{
        max-width: 600px;
        margin-top: 160px;
    }

    .modal-bar{
        margin: 27px auto !important;
        max-width: 600px;
        position: relative;

        .modal-textos{
            max-width: 80%;
        }

        .modal-btn{
            border: 1px solid $gris-medio;
            cursor: pointer;
        }
    }
}