//colores
$violeta: #572EE5;
$violeta-op: rgba(87,46,229,0.9);
$violeta-op2:rgba(87,46,229,0.6);
$turquesa: #50E3C2;
$gris-claro: #F3F5F8;
$gris-medio: #9CAFC3;
$gris-oscuro:#37383C;
$gris-trending-oscuro: #222326;
$negro: #000000;
$blanco: #ffffff;
$blanco-op: rgba(255, 255, 255, 0.7);
$blanco-modal:rgba(255, 255, 255, 0.9);
$negro-modal:#37383cea;

//tipografias
$montse: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;


/* body {
    --main-bg-color: yellow;
    --main-txt-color: blue;  
    --main-padding: 15px;  
  }

  body.dark {
    --main-bg-color: red;
    --main-txt-color: blue;  
    --main-padding: 15px;  
  }
   */
  